.header__wrapper {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0px;
}

.chat__chat {
  background-image: url("../images/chatBgc.png");
  min-height: 100vh;
  padding-top: 100px;
}

.chat__write {
  bottom: 50px;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0px 20px;

  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  justify-content: space-between;
  align-items: center;
}
.chat__input {
  transition: all 1s ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(-100px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-110px);
    box-shadow: 0 30px 60px -30px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    transform: translateY(-100px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.chat__input:focus {
  outline: none;
  margin: 0 auto;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;

  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);

  animation: float 2s linear infinite forwards;
}
.chat__input:focus ~ .icon {
  opacity: 0;
}
.icon {
  font-size: 22px;
  transition: opacity 0.5s ease-out;
}
.chat__left {
  position: absolute;
}
.chat__write input {
  margin-left: 30px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 14px;
}
.chat__chat .chat__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #f7f7f7;
  width: 100%;
  padding: 0px 20px;
}
.chat__list .chat__timestamp {
  font-size: 14px;
  background-color: gainsboro;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.message .message__content {
  widows: 80%;
}
.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 20px;
}
.message {
  display: flex;
  align-items: center;
}
.incoming-message {
  align-self: flex-start;
}
.outcoming-message {
  align-self: flex-end;
}
.message .message__content {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 30px 60px -12px;
}

@keyframes inmessageAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.incoming-message {
  animation: inmessageAnim 0.5s ease-out forwards;
}
@keyframes outmessageAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.outcoming-message {
  animation: outmessageAnim 0.5s ease-out forwards;
}
