.friends .friends__plus {
  padding: 20px 0px;
  margin: 20px 0px;
  border-bottom: 1px solid #f7f7f7;
  border-top: 1px solid #f7f7f7;
}
.friends .friends__plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends__plus .plus__stamp {
  opacity: 0.6;
}
.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}
